<div th:replace="~{compartilhado/topo}"></div>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Usuários / Login's</h1>
                    <p class="mb-4">
                        Aqui irá listar os logins do meu sistema
                    </p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <a href="/administradores/novo" class="btn btn-primary" style="margin-right: 20px;">novo</a>
                            <h6 class="m-0 font-weight-bold text-primary" style="display: inline-block">Lista de usuários</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nome</th>
                                            <th>Email</th>
                                            <th>Endereço</th>
                                            <th>Nivel usuário</th>
                                            <th th:if="${nivelAcesso == 'adm'}" ></th>
                                            <th th:if="${nivelAcesso == 'adm'}"></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Nome</th>
                                            <th>Email</th>
                                            <th>Endereço</th>
                                            <th>Nivel usuário</th>
                                            <th th:if="${nivelAcesso == 'adm'}"></th>
                                            <th th:if="${nivelAcesso == 'adm'}"></th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr th:each="administrador : ${administradores}">
                                            <td th:text="${administrador.id}"></td>
                                            <td th:text="${administrador.nome}"></td>
                                            <td th:text="${administrador.email}"></td>
                                            <td th:text="${administrador.endereco}"></td>
                                            <td th:text="${administrador.nivelAcesso}"></td>
                                            <td th:if="${nivelAcesso == 'adm'}" style="text-align: center;"><a th:href="@{'/administradores/'+${administrador.id}}" class="btn btn-warning">Alterar</a></td>
                                            <td th:if="${nivelAcesso == 'adm'}" style="text-align: center;"><a href="#" th:onclick="'if(confirm(\'Confirmar exclusão?\'))window.location.href = \'' + @{/administradores/{id}(id=${administrador.id})} + '/excluir\''" class="btn btn-danger">Excluir</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
<div th:replace="~{compartilhado/baixo}"></div>