<div th:replace="~{compartilhado/topo}"></div>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Calculadora Juros Compostos</h1>
                    <p class="mb-4">
                        Criação e históricos dos calcúlos já gerados
                    </p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <a href="/calculadoraJurosCompostos/novo" class="btn btn-primary" style="margin-right: 20px;">novo</a>
                            <h6 class="m-0 font-weight-bold text-primary" style="display: inline-block;">Lista de historico dos calculos</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Cliente</th>
                                            <th style="text-align: center;">Visualizar</th>
                                            <th style="text-align: center;">Visualizar</th>
                                            <th>Data solicitação</th>
                                            <th>Usuário Solicitante</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th >Id</th>
                                            <th>Cliente</th>
                                            <th style="text-align: center;">Visualizar</th>
                                            <th style="text-align: center;">Visualizar</th>
                                            <th>Data solicitação</th>
                                            <th>Usuário Solicitante</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr th:each="CalculoJurosCompostos : ${calTotais}">
                                            <td th:text="${CalculoJurosCompostos.id}"></td>
                                            <td th:text="${CalculoJurosCompostos.clientePesquisado}"></td>
                                            <td style="text-align: center;"><a th:href="@{'/calculadoraJurosCompostos/calculoMensal/'+${CalculoJurosCompostos.id}}" class="btn btn-warning">Mensal</a></td>
                                            <td style="text-align: center;"><a th:href="@{'/calculadoraJurosCompostos/calculoAnual/'+${CalculoJurosCompostos.id}}" class="btn btn-danger">Anual</a></td>
                                            <td th:text="${CalculoJurosCompostos.date}"></td>
                                            <td th:text="${CalculoJurosCompostos.cliente.nome}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
<div th:replace="~{compartilhado/baixo}"></div>